{% extends 'base.html.twig' %}

{% block body %}
    <!DOCTYPE HTML>
    <html lang="ru-RU" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <meta name="format-detection" content="telephone=no"/>
        <title>Фирменный магазин Xiaomi в Бишкеке</title>

        <link rel="apple-touch-icon" sizes="180x180"
              href="http://mi-shop.kg/wp-content/themes/mishopkg/images/favicon/apple-touch-icon.png"/>
        <link rel="icon" type="image/png"
              href="http://mi-shop.kg/wp-content/themes/mishopkg/images/favicon/favicon-32x32.png" sizes="32x32"/>
        <link rel="icon" type="image/png"
              href="http://mi-shop.kg/wp-content/themes/mishopkg/images/favicon/favicon-16x16.png" sizes="16x16"/>
        <link rel="manifest" href="http://mi-shop.kg/wp-content/themes/mishopkg/images/favicon/manifest.json"/>
        <link rel="mask-icon" href="http://mi-shop.kg/wp-content/themes/mishopkg/images/favicon/safari-pinned-tab.svg"
              color="#ff6700"/>
        <link rel="shortcut icon" href="http://mi-shop.kg/wp-content/themes/mishopkg/images/favicon/favicon.ico"/>
        <meta name="msapplication-config"
              content="http://mi-shop.kg/wp-content/themes/mishopkg/images/favicon/browserconfig.xml"/>
        <meta name="theme-color" content="#ffffff"/>


        <!-- This site is optimized with the Yoast SEO plugin v7.5.1 - https://yoast.com/wordpress/plugins/seo/ -->
        <meta name="description"
              content="Фирменный магазин Xiaomi в Бишкеке MI-SHOP.KG предлагает Вам весь спектр продукции компании Xiaomi по доступным ценам."/>
        <meta property="og:locale" content="ru_RU"/>
        <meta property="og:type" content="website"/>
        <meta property="og:title" content="Фирменный магазин Xiaomi в Бишкеке"/>
        <meta property="og:description"
              content="Фирменный магазин Xiaomi в Бишкеке MI-SHOP.KG предлагает Вам весь спектр продукции компании Xiaomi по доступным ценам."/>
        <meta property="og:site_name" content="Фирменный магазин Xiaomi в Бишкеке"/>
        <meta name="twitter:card" content="summary"/>
        <meta name="twitter:description"
              content="Фирменный магазин Xiaomi в Бишкеке MI-SHOP.KG предлагает Вам весь спектр продукции компании Xiaomi по доступным ценам."/>
        <meta name="twitter:title" content="Фирменный магазин Xiaomi в Бишкеке"/>
        <meta name="twitter:image" content="http://mi-shop.kg/wp-content/uploads/2017/04/main-office.jpg"/>
        <script type='application/ld+json'>
        {"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"http:\/\/mi-shop.kg\/","name":"\u0424\u0438\u0440\u043c\u0435\u043d\u043d\u044b\u0439 \u043c\u0430\u0433\u0430\u0437\u0438\u043d Xiaomi \u0432 \u0411\u0438\u0448\u043a\u0435\u043a\u0435","potentialAction":{"@type":"SearchAction","target":"http:\/\/mi-shop.kg\/?s={search_term_string}","query-input":"required name=search_term_string"}}


        </script>
        <script type='application/ld+json'>
        {"@context":"https:\/\/schema.org","@type":"Organization","url":"http:\/\/mi-shop.kg\/","sameAs":[],"@id":"http:\/\/mi-shop.kg\/#organization","name":"\u0424\u0438\u0440\u043c\u0435\u043d\u043d\u044b\u0439 \u043c\u0430\u0433\u0430\u0437\u0438\u043d Xiaomi \u0432 \u0411\u0438\u0448\u043a\u0435\u043a\u0435","logo":"http:\/\/mi-shop.kg\/wp-content\/uploads\/2017\/04\/logo.png"}


        </script>
        <!-- / Yoast SEO plugin. -->

        <link rel='dns-prefetch' href='//s.w.org'/>
        <script type="text/javascript">
            window._wpemojiSettings = {
                "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/",
                "ext": ".png",
                "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/",
                "svgExt": ".svg",
                "source": {"concatemoji": "http:\/\/mi-shop.kg\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.6"}
            };
            !function (a, b, c) {
                function d(a, b) {
                    var c = String.fromCharCode;
                    l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0);
                    var d = k.toDataURL();
                    l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0);
                    var e = k.toDataURL();
                    return d === e
                }

                function e(a) {
                    var b;
                    if (!l || !l.fillText) return !1;
                    switch (l.textBaseline = "top", l.font = "600 32px Arial", a) {
                        case"flag":
                            return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b);
                        case"emoji":
                            return b = d([55357, 56692, 8205, 9792, 65039], [55357, 56692, 8203, 9792, 65039]), !b
                    }
                    return !1
                }

                function f(a) {
                    var c = b.createElement("script");
                    c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
                }

                var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d");
                for (j = Array("flag", "emoji"), c.supports = {
                    everything: !0,
                    everythingExceptFlag: !0
                }, i = 0; i < j.length; i++) c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]);
                c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                    c.DOMReady = !0
                }, c.supports.everything || (h = function () {
                    c.readyCallback()
                }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () {
                    "complete" === b.readyState && c.readyCallback()
                })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji)))
            }(window, document, window._wpemojiSettings);
        </script>
        <style type="text/css">
            img.wp-smiley,
            img.emoji {
                display: inline !important;
                border: none !important;
                box-shadow: none !important;
                height: 1em !important;
                width: 1em !important;
                margin: 0 .07em !important;
                vertical-align: -0.1em !important;
                background: none !important;
                padding: 0 !important;
            }
        </style>
        <link rel='stylesheet' id='contact-form-7-css'
              href='http://mi-shop.kg/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=5.0.1'
              type='text/css'
              media='all'/>
        <link rel='stylesheet' id='woocommerce-layout-css'
              href='http://mi-shop.kg/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=3.3.5'
              type='text/css' media='all'/>
        <link rel='stylesheet' id='woocommerce-smallscreen-css'
              href='http://mi-shop.kg/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=3.3.5'
              type='text/css' media='only screen and (max-width: 768px)'/>
        <link rel='stylesheet' id='woocommerce-general-css'
              href='http://mi-shop.kg/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=3.3.5'
              type='text/css'
              media='all'/>
        <script type='text/javascript' src='http://mi-shop.kg/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
        <script type='text/javascript'
                src='http://mi-shop.kg/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
        <link rel='https://api.w.org/' href='http://mi-shop.kg/wp-json/'/>
        <meta name="generator" content="WordPress 4.9.6"/>
        <meta name="generator" content="WooCommerce 3.3.5"/>
        <link rel='shortlink' href='http://mi-shop.kg/'/>
        <link rel="alternate" type="application/json+oembed"
              href="http://mi-shop.kg/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fmi-shop.kg%2F"/>
        <link rel="alternate" type="text/xml+oembed"
              href="http://mi-shop.kg/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fmi-shop.kg%2F&#038;format=xml"/>
        <noscript>
            <style>.woocommerce-product-gallery {
                    opacity: 1 !important;
                }</style>
        </noscript>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&amp;subset=cyrillic"
              rel="stylesheet"/>

        <link rel='stylesheet' href='http://mi-shop.kg/wp-content/themes/mishopkg/css/bootstrap.min.css' type='text/css'
              media='all'/>
        <link rel='stylesheet' href='http://mi-shop.kg/wp-content/themes/mishopkg/css/font-awesome.min.css'
              type='text/css'
              media='all'/>
        <link rel='stylesheet' href='http://mi-shop.kg/wp-content/themes/mishopkg/css/owl.carousel.min.css'
              type='text/css'
              media='all'/>
        <link rel='stylesheet' href='http://mi-shop.kg/wp-content/themes/mishopkg/css/lightgallery.min.css'
              type='text/css'
              media='all'/>
        <link rel='stylesheet' href='http://mi-shop.kg/wp-content/themes/mishopkg/css/main.css' type='text/css'
              media='all'/>

        <script type='text/javascript' src='http://mi-shop.kg/wp-content/themes/mishopkg/js/bootstrap.min.js'></script>
        <script type='text/javascript'
                src='http://mi-shop.kg/wp-content/themes/mishopkg/js/owl.carousel.min.js'></script>
        <script type='text/javascript'
                src='http://mi-shop.kg/wp-content/themes/mishopkg/js/lightgallery.min.js'></script>
        <script type='text/javascript' src='http://mi-shop.kg/wp-content/themes/mishopkg/js/lg-video.js'></script>
        <script type='text/javascript' src='http://mi-shop.kg/wp-content/themes/mishopkg/js/main.js'></script>

        <!--[if lt IE 9]>
        <script type='text/javascript'
                src='http://mi-shop.kg/wp-content/themes/mishopkg/js/libs/html5shiv.min.js'></script>
        <script type='text/javascript'
                src='http://mi-shop.kg/wp-content/themes/mishopkg/js/libs/respond.min.js'></script>
        <![endif]-->

    </head>
    <body class="home page-template page-template-page-home page-template-page-home-php page page-id-2">

    <div class="top_line">
        <div class="container">

            <div class="top_line_right">
                <a href="#" class="top_line_phone_toggle header_link_toggle"><i class="fa fa-phone"></i></a>
                <a href="#" class="top_line_search_toggle header_link_toggle"><i class="fa fa-search"></i></a>
                <a href="{{ path('fos_user_security_login') }}" class="top_line_user header_link_toggle">
                    <i class="fa fa-user"></i><span>Login</span>
                </a>
                <a href="{{ path('fos_user_registration_register') }}" class="top_line_user header_link_toggle">
                    <i class="fa fa-user"></i><span>Register</span>
                </a>

                <div class="top_line_cart">
                    <a class="cart-contents" href="#">
                        <span id="header_cart_text">Корзина</span>
                        <span id="header_cart_total">{{ countProductsInCart }}</span>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="header">
        <div class="container">
            <div class="header_logo">
                    <span class="header_logo_text">
						SIB-SHOP.KG
						<span>фирменный магазин</span>
					</span>
            </div>

            <div class="header_menu">
                <div class="menu-verhnee-menyu-2-container">
                    <ul id="menu-verhnee-menyu-2" class="menu">
                        <li id="menu-item-89"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89">
                            <a href="#">Акции</a></li>
                        <li id="menu-item-90"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90">
                            <a href="#">Поддержка</a></li>
                        <li id="menu-item-2641"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2641"><a
                                    href="#">Кредит</a></li>
                    </ul>
                </div>
            </div>

            <div class="header_phone">
                <div class="header_phone_item">
                    <a href="tel:+996312961333"><span>+996 (312)</span> 961 333</a>
                </div>
                <div class="header_phone_item">
                    <a href="tel:+996702961333"><span>+996 (702)</span> 961 333</a>
                </div>
            </div>

            <div class="header_search">
                <form role="search" method="get" action="#">
                    <input type="search" name="s" value="" placeholder="Поиск по каталогу..." autocomplete="off"/>
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
        </div>
    </div>

    <div class="box_content box_gray box_border_bot">
        <div class="container">
            <div class="page_subtitle main_tab_title">
                <a href="#main_tab_specials" class="active">Акции</a>
                <a href="#main_tab_latest">Новинки</a>
            </div>
        </div>
    </div>

    {% for category in categories %}
        <li><a href="{{ path('app_shop_selectcategory', {'id': category.id}) }}">{{ category.name }}</a></li>
    {% endfor %}


    <table style="text-align: center">
        <tr>
            {% set foo = 0 %}
            {% for product in products %}
                    {% set foo =foo +1 %}
            {% if foo is divisible by(3) %}
                </tr><tr>
            {% endif %}
                     {% for media in product.media %}
                        <td>
                            {% set runtimeConfig = {"thumbnail": {"size": [50, 50] }} %}
                            <img src="{{ vich_uploader_asset(media, 'imageFile') | imagine_filter('my_watermark_filter') }}"/>
                    {% endfor %}
                            <div>
                                <h4>{{ product.name }}</h4>
                                <span>{{ product.price }}</span>
                                <span><a href="{{ path('add_product', {'id': product.id}) }}">CART</a></span>
                                <hr>
                            </div>
                        </td>
                </tr>
            {% else %}
                <tr>
                    <td>Не найдено ни одного товара</td>
                </tr>
            {% endfor %}
    </table>

    <div class="box_content box_gray main_about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-5 main_about_img">
                    <img width="800" height="545" src="#"
                         class="img-responsive wp-post-image" alt="Главная"/></div>
                <div class="col-md-7">
                    <div class="page_subtitle">О компании</div>

                    <div class="page_content">
                        <p>Xiaomi — уникальная компания: есть подлинная философия дизайна, обеспечены высочайшие
                            стандарты
                            производства, разработана своя оригинальная оболочка для Android и, конечно же, постоянно
                            ведется разработка собственных топовых технологий и железа, которые незамедлительно
                            применяются
                            в новейших гаджетах.</p>
                        <p>При этом ключевой ценностью компании стало то, что хорошие и высокотехнологичные устройства
                            не
                            должны стоить целое состояние. Благодаря этому Xiaomi стоит в одном ряду с самыми известными
                            мировыми производителями мобильных устройств.</p>
                        <p>Фирменный магазин Xiaomi в Бишкеке MI-SHOP.KG предлагает Вам весь спектр продукции компании
                            Xiaomi по доступным ценам. Мы всегда рады видеть Вас в числе своих клиентов!</p>

                        <div class="main_about_link">
                            <a href="#" class="btn btn-default">Подробнее</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <div class="row">
                        <div class="col-sm-5 footer_menu">
                            <div class="footer_title">Поддержка</div>
                            <div class="menu-nizhnee-menyu-1-container">
                                <ul id="menu-nizhnee-menyu-1" class="menu">
                                    <li id="menu-item-82"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a
                                                href="#">Каталог</a></li>
                                    <li id="menu-item-88"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a
                                                href="#">Акции</a></li>
                                    <li id="menu-item-34"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-34"><a
                                                href="#">Гарантия</a></li>
                                    <li id="menu-item-87"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a
                                                href="#">Поддержка</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-5 col-sm-offset-2 col-md-offset-1 footer_menu">
                            <div class="footer_title">О нас</div>
                            <div class="menu-nizhnee-menyu-2-container">
                                <ul id="menu-nizhnee-menyu-2" class="menu">
                                    <li id="menu-item-36"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-36"><a
                                                href="#">О компании</a></li>
                                    <li id="menu-item-81"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a
                                                href="#">Для партнёров</a></li>
                                    <li id="menu-item-35"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a
                                                href="#">Контакты</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-lg-4 footer_contacts">
                    <div class="footer_title">Свяжитесь с нами</div>

                    <div class="footer_contacts_block">
                        <div class="footer_contacts_item footer_contacts_item_address">
                            <i class="fa fa-map-marker"></i> Кыргызстан, г. Бишкек<br/>

                        </div>
                        <div class="footer_contacts_item footer_contacts_item_phones">
                            <i class="fa fa-phone"></i>
                            <a href="#">+996 (333) 331 333</a>
                            <a href="#">+996 (702) 999 333</a>
                            <a href="#">+996 (557) 222 444 </a>
                            <a href="#">+996 (777) 222 444</a>
                        </div>

                    </div>

                    <div class="footer_social">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <a href="#">Фирменный магазин Sib в Бишкеке</a>
            <span>&copy; 2017 Все права защищены</span>
        </div>
    </div>

    <a href="#" class="scroll_up"><i class="fa fa-angle-up"></i></a>
    </body>
    </html>
{% endblock %}

